name: Download, unpack and commit solution to git
run-name: Getting ${{ github.event.inputs.solution_name }} from pipelines host environment and committing

on:
  workflow_dispatch:
    inputs:
      artifact_url:
        description: "The url of the Dataverse record ID for the artifact created by the pipelines (Example: https://[your-env].crm.dynamics.com/api/data/v9.0/deploymentartifacts([your-artifact-id])/artifactfile/$value)."
        required: true
        type: string
      solution_name:
        description: "Name of the Solution in Dataverse environment"
        required: true
        type: string
      user_name:
        description: "User name for the commit"
        required: true
        type: string
      source_branch:
        description: "Branch for the solution commit"
        required: true
        type: string
      target_branch:
        description: "Branch to create for the solution commit"
        required: false
        type: string
      commit_message:
        description: "Message to provide for the commit"
        required: true
        type: string

permissions:
  contents: write

jobs:
  export-unpack-commit:
    runs-on: ubuntu-latest

    steps:
      # Recommended mitigation for Power Platform action install/download timeouts:
      # Install tools first and use v1 actions. [1](https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows)
      - name: Install Power Platform Tools
        uses: microsoft/powerplatform-actions/actions-install@v1

      - name: Checkout repo at source branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.source_branch }}

      - name: Create new branch if target_branch specified
        shell: pwsh
        run: |
          if ('${{ github.event.inputs.target_branch }}' -ne '') {
            git checkout -b '${{ github.event.inputs.target_branch }}'
          }

      - name: Download solution from pipelines artifact (managed + unmanaged)
        shell: pwsh
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          TENANT_ID: ${{ secrets.TENANT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        run: |
          $aadHost = "https://login.microsoftonline.com"
          $artifactUrl = "${{ github.event.inputs.artifact_url }}"

          # Derive the Dataverse host from the artifact URL (https://{org}.crm.dynamics.com/...)
          $parts = $artifactUrl.Split('/', [System.StringSplitOptions]::RemoveEmptyEntries)
          $dataverseHost = "https://" + $parts[1]
          $scope = "$dataverseHost/.default"

          $body = @{
            client_id     = $env:CLIENT_ID
            client_secret = $env:CLIENT_SECRET
            grant_type    = "client_credentials"
            scope         = $scope
          }

          $oauthReq = Invoke-RestMethod -Method Post -Uri "$aadHost/$($env:TENANT_ID)/oauth2/v2.0/token" -Body $body
          $spnToken = $oauthReq.access_token

          $headers = New-Object "System.Collections.Generic.Dictionary[[String],[String]]"
          $headers.Add("Authorization", "Bearer $spnToken")
          $headers.Add("Content-Type", "application/json")

          # Managed artifact download
          $respManaged = Invoke-RestMethod -Uri $artifactUrl -Method GET -Headers $headers
          $bytesManaged = [System.Convert]::FromBase64String($respManaged.value)
          [System.IO.File]::WriteAllBytes("${{ github.event.inputs.solution_name }}_managed.zip", $bytesManaged)

          # Unmanaged artifact download (swap artifactfile -> artifactfileunmanaged)
          $unmanagedUrl = $artifactUrl.Replace("artifactfile", "artifactfileunmanaged")
          $respUnmanaged = Invoke-RestMethod -Uri $unmanagedUrl -Method GET -Headers $headers
          $bytesUnmanaged = [System.Convert]::FromBase64String($respUnmanaged.value)
          [System.IO.File]::WriteAllBytes("${{ github.event.inputs.solution_name }}.zip", $bytesUnmanaged)

      - name: Unpack unmanaged solution
        uses: microsoft/powerplatform-actions/unpack-solution@v1
        with:
          solution-file: ${{ github.event.inputs.solution_name }}.zip
          solution-folder: ${{ github.event.repository.name }}/${{ github.event.inputs.solution_name }}
          solution-type: Unmanaged
          process-canvas-apps: false
          overwrite-files: true

      - name: Commit changes
        shell: pwsh
        run: |
          Remove-Item -Force "${{ github.event.inputs.solution_name }}.zip" -ErrorAction SilentlyContinue
          Remove-Item -Force "${{ github.event.inputs.solution_name }}_managed.zip" -ErrorAction SilentlyContinue

          git config user.name "${{ github.event.inputs.user_name }}"
          git config user.email "${{ github.event.inputs.user_name }}@users.noreply.github.com"

          git pull
          git add -A
          git commit -m "${{ github.event.inputs.commit_message }}" --allow-empty

      - name: Push committed changes
        shell: pwsh
        run: |
          if ('${{ github.event.inputs.target_branch }}' -ne '') {
            git push origin '${{ github.event.inputs.target_branch }}'
          } else {
            git push origin '${{ github.event.inputs.source_branch }}'
          }
