name: Pull from Power Platform
run-name: Pull from Power Platform ${{ github.event.inputs.solution_name }}

on:
  workflow_dispatch:
    inputs:
      artifact_url:
        description: "The url of the Dataverse record ID for the artifact created by the pipelines (Example: https://[your-env].crm.dynamics.com/api/data/v9.0/deploymentartifacts([id])/artifactfile/$value)"
        required: true
      solution_name:
        description: "Name of the Solution in Dataverse environment"
        required: true
      user_name:
        description: "User name for the commit"
        required: true
      source_branch:
        description: "Branch for the solution commit"
        required: true
      target_branch:
        description: "Branch to create for the solution commit"
        required: false
      commit_message:
        description: "Message to provide for the commit"
        required: true

permissions:
  contents: write

jobs:
  export-unpack-commit:
    runs-on: ubuntu-latest
    environment: MAIN

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.source_branch }}

      - name: Create new branch if specified
        shell: pwsh
        run: |
          if ('${{ github.event.inputs.target_branch }}' -ne '') {
            git checkout -b '${{ github.event.inputs.target_branch }}' '${{ github.event.inputs.source_branch }}'
          }

      - name: Download solution from artifact
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          TENANT_ID: ${{ secrets.TENANT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        shell: pwsh
        run: |
          $aadHost = "login.microsoftonline.com"
          $url = "${{ github.event.inputs.artifact_url }}"
          $options = [System.StringSplitOptions]::RemoveEmptyEntries
          $dataverseHost = $url.Split("://", $options)[1].Split("/")[0]

          $body = @{
            client_id     = $env:CLIENT_ID
            client_secret = $env:CLIENT_SECRET
            grant_type    = "client_credentials"
            scope         = "https://$dataverseHost/.default"
          }

          $OAuthReq = Invoke-RestMethod -Method Post -Uri "https://$aadHost/$($env:TENANT_ID)/oauth2/v2.0/token" -Body $body
          $spnToken = $OAuthReq.access_token

          $headers = @{
            Authorization = "Bearer $spnToken"
          }

          # Artifact endpoint ends with /$value, so download to file directly
          $outFile = "${{ github.event.inputs.solution_name }}.zip"
          Invoke-WebRequest -Uri "${{ github.event.inputs.artifact_url }}" -Headers $headers -OutFile $outFile

      - name: Unpack solution
        uses: microsoft/powerplatform-actions/unpack-solution@v0
        with:
          solution-file: "${{ github.event.inputs.solution_name }}.zip"
          solution-folder: "${{ github.event.repository.name }}"
          solution-type: "Unmanaged"
          overwrite-files: true

      - name: Commit changes
        shell: pwsh
        run: |
          Remove-Item -Path "${{ github.event.inputs.solution_name }}.zip" -Force -ErrorAction SilentlyContinue
          git config user.name "${{ github.event.inputs.user_name }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"

          git pull
          git add --all

          git commit -m "${{ github.event.inputs.commit_message }}" || echo "No changes to commit."

      - name: Push branch to GitHub
        shell: pwsh
        run: |
          $branch = '${{ github.event.inputs.target_branch }}'
          if ([string]::IsNullOrWhiteSpace($branch)) { $branch = '${{ github.event.inputs.source_branch }}' }
          git push origin $branch
